body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.fleet-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.fleet-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: rgba(128, 0, 0, 0.822);
}

.fleet-item {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #fff;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}
.fleet-item .photo{
    width: 94%;
    height: auto;
    padding: 20px;
}
.photo img {
    width: 100%;
    height: auto;
    background-color: #3caef5af;
    padding: 20px;
}

.fleet-description {
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    gap: 8vw;
    
}
.fleet-description .fleet-left{
    width: 40%;
    height: auto;
    padding-left: 4vw;
    margin-top: 5vw;
}
.fleet-left h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(128, 0, 0);
    font-weight: 400;
    letter-spacing: -0.10rem;
}
.fleet-left p {
    margin-top: 2vw;
    font-size: 1em;
    color: #666;
    line-height: 1.5rem;
}
.fleet-description .fleet-right{
    width: 40%;
    height: 20vw;
    height: auto;
    margin-top: 5vw;
}
.fleet-right p {
    margin: 4vw 4vw;
    font-size: 1.5em;
    color: #666;
    line-height: 1.5rem;
}
.fleet-bottom h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: rgb(128, 0, 0);
    font-weight: 400;
    letter-spacing: -0.10rem;
}
.fleet-bottom{
    width: 100%;
    height: auto;
    text-align: start;
    padding-left: 5vw;
    margin: 5vw 0px;
}
.luxury-section{
   width: 100%;
    height: 50vw;
    /* background-color: #d63c3c; */
}
.luxury-section h3{
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(128, 0, 0);
    padding: 0 5vw;
}
.luxury-section h1{
    text-align: start;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(128, 0, 0);
    padding: 0 4vw;
}
.photo{
    display: flex;
    gap: 50px;
}
.luxury-left{
    width: 60%;
    height: 40vw;
    background-color: #c3ac47;
    background-image: url("./light\ jet1.png");
    background-size: cover;
    background-position: center;
}
.luxury-photo{
    width: 30%;
    height: 40vw;
    /* background-color: #d11515; */
    margin: 20px;
}
.luxury-photo h2{
    font-size: 20px;
    text-align: left;
}
.luxury-photo p{
    width: 250px;
    text-align: left;
    line-height: 25px;
}